/* lasya css */
* {
  margin:0px;
  padding:0px;
  font-family: 'Roboto Mono', monospace;
}

.header{
  background-color:#93BDFF;
  color: #036DFF;
  padding: 5px;
  padding-left: 20px;
  font-size: 50px;
}

.menu{
  background-color: #036DFF;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12px;
}

.info{
  padding: 20px;
  margin: 20px;
  border: 2px solid #000;
  border-radius: 20px;
}

a:link{
  color:#93BDFF;
}

a:hover {
  color:#FFFFFF;
}

.dropbtn {
  background-color: #036DFF;
  color: #93BDFF;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
}

.dropdown-content a {
  background-color:#93BDFF;
  color: #036DFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #FFFFFF;
}

.show {
  display:block;
}

/* liana css */
.list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.explain {
  font-size: 20px;
  padding-bottom: 20px;
}

.link {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.petition {
    background-color: #036DFF;
    padding: 20px;
    color: #93BDFF;
}

/* gaby css yee */
h2{
  color: #036DFF;
  font-size: 100px;
  text-align: center;
}

.description{
  text-align: center;
}

.h3{
  background-color:#93BDFF;
  color: #036DFF;
  padding: 5px;
  padding-left: 20px;
  font-size: 50px;
}

.organizations{
  padding: 20px;
  margin: 20px;
  border: 2px solid #000;
  border-radius: 20px;
}

.buttonn{
  background-color:#036DFF;
  border: none;
  color: white;
  padding: 11px 32px;
  text-aliign: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
